html,
body {
  padding: 10;
  margin: 0;
}
/*
.rect {
  fill: orange;
}

.rect:hover {
  fill: green;
}
*/

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
  padding: 5;
  margin: 5;
}
