html,
body {
  padding: 10;
  margin: 0;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
  padding: 5;
  margin: 5;
}
